<style type="text/css">
	*
		{
			padding: 0;
			margin: 0;
		}
	
	body
		{
			background-image:url('tlo.png');
			background-attachment: fixed;
                        
			/*background-color: white;*/
	
		}
	#kontener
		{
			width: 100%;
			margin: 0 auto;
		}
	#gorna_czesc_kontenera
		{
			position: relative;
			margin-top: 10px;
			width: 1300px;
			height: 200px;
			background-color: rgba(255, 255, 255, 0.8); 
						
		}
		
	img.logo
		{
			position:absolute;
			border: 0;
			left: 20px;
			bottom: 100px;
		}
		
	#gorne_menu
		{
			position: absolute;
			right: 50px;
			bottom: 90px;
				
		}
	
	#wlasciwe_gorne_menu li
		{
			list-style-type: none;
			float: left;
					
		}
	
	#wlasciwe_gorne_menu li a
		{
			background-color: none;
			height: 31px;
			display: inline-block;
			float: left;
			text-decoration: none; 
			padding: 0px 10px;
			font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #666666;
			padding-top: 10px;
			text-transform: uppercase;
			font-style: bold;
                       
		
		}
		
	#wlasciwe_gorne_menu li a:hover
		{
			
			color:  #b3d9ff;
		}
	
	span.link
		{
			display: inline-block;
			margin-top: 10px;
		}
		
	#zawartosc
		{
			width: 1304px;
		}
		
	#srodkowa_czesc_zawartosci
		{
			background-color: white;
			max-width: 100%;
			min-height: 530px;
			border: 0 solid #e6e6e6;
			border-left: 2px solid #e6e6e6;
			border-right: 2px solid #e6e6e6;
			border-top: 2px solid #e6e6e6;
			border-bottom: 2px solid #e6e6e6;
			border-radius: 5px;
                        padding: 50px;
		}
		
	#dolna_czesc_zawartosci
		{
			background-color: rgba(230, 230, 230, 0.5);
			width: 1304px;
			height: 20px;
		}
	
	#onas
		{
			text-align: justify;
			padding: 10px 50px;
			line-height: 170%;
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 16px;
			float: left;
    		width: 400px;
    		height: 500px;
    		color: #666666;
    		margin-left: 1%;
    		margin-top: 1%;
		
		}
			
	h1
		{
			font-family:"Trebuchet MS","Tahoma","Geneva";
			font-size: 40px;
			margin-top: 30px;
			margin-bottom: 30px;
			color: #666666;
		}
	
	h2, h3
		{
			font-family:"Trebuchet MS","Tahoma","Geneva";
			font-size: 40px;
			margin-top: 30px;
			margin-bottom: 30px;
			color: #666666;
		}
                h4 {
                    font-family:"Trebuchet MS","Tahoma","Geneva";
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 30px;
			color: #666666;
                }        
	#misja
		{
			text-align: justify;
			padding: 10px 50px;
			line-height: 170%;
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 16px;
			float: left;    	
    		height: 500px;
    		color: #666666;
    		margin-left: 4%;
    		margin-top: 1%;
    	
		}
	
	#DaneKontaktowe
		{
			text-align: justify;
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 16px;
			color: #666666;
			line-height: 70%;
			margin-top: 100px;
			margin-left: 100px; 
		}
                
        #powitanie
        {
            padding: 20px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 23px;
            margin-right:1000px;
            display: inline-block;
            float: right;
            margin-top: 8px;
            
            
            color: #666666;
            
        }
        #powitanie_info
        {
            padding: 20px 50px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 16px;
            background-color: white;
            min-height: 300px;
            text-align: center;
            margin-top: 30px;
            color: #666666;
        }
        #logowanie_info
        {
            font-family:Verdana, Geneva, sans-serif;
            font-size: 16px;
            color: #666666;
            text-align: center;
        }
        input[type=text]
        {
            border: 2px solid #e6e6e6;
            border-radius: 4px;
            padding: 8px 20px;
            margin: 8px 0;
            display: inline-block;
            float: right;
            margin-right: 500px;
            
        }
               
         input[type=text]:focus
        {
            border: 2px solid #b3d9ff;
        }
        input[type=password]
        {
            border: 2px solid #e6e6e6;
            border-radius: 4px;
            padding: 8px 20px;
            margin: 8px 0;
            display: inline-block;
            float: right;
            margin-right: 500px;
        }
               
         input[type=password]:focus
        {
            border: 2px solid #b3d9ff;
        }
        #logowanie_form
        {
            display: inline-block;
            float: right;
            margin-right: 50px;
            font-family: Verdana, Geneva, sans-serif;
            color: #666666;
        }
        input[type=submit] 
        {
             font-family: Verdana, Geneva, sans-serif;
             cursor:pointer;
             background-color: #ecf2f9;
             margin-left:30px;
             margin-top: 10px;
             color: #666666;
             padding: 6px 18px;
             border-radius: 4px;
             text-style: bold;
             font-weight: bold;
             
        }
        #dodaj_pyt {
            font-family: Verdana, Geneva, sans-serif;
            color: #666666;
            display: inline-block;
            left: 150px;
            position: relative;
            
            
        }
        
        #usun_pyt {
            font-family: Verdana, Geneva, sans-serif;
            color: #666666;
            display: inline-block;
            left: 150px;
            position: relative;
            
        }
        #edycja {
            column-count: 2;
            
        }
        #edycja input[type=text]{
            margin-right: 315px;
            margin-top: -10px;
            margin-bottom: 35px;
            left: -170px;
            position: relative;
        }
        #dodaj_pyt input[type=text]:first-of-type {
            width: 310px;
            left: 0;
            
        }
        #usun_pyt input[type=text]:first-of-type {
            left: 0;
        }
        
    
        
        
        #copyright
		{
			text-align: center; 
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 13px;
			margin-top: 10px;
                        margin-bottom: 10px;
		}
		</style>